<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<div class="row">
  <div class="span5">
    <%= render 'incomes_this_year' %>
  </div>
  <div class="span5">
    <%= render 'incomes_per_year' %>
  </div>
</div>
<div class="row">
  <div class="span5">
    <%= render 'customers_account_summary' %>
  </div>
  <div class="span5">
    <%= render 'current_year_invoices' %>
  </div>
</div>