<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      ["#{@customer.title}", customer_slips_path(@customer)],
                      ['Edit estimate', nil]
                    ]).html_safe %>
<% end %>

<%- model_class = @estimate.class -%>
<h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "Edit #{model_class.model_name.human}") %></h1>
<%= render :partial => 'form' %>
