<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      ["#{@customer.title}", customer_slips_path(@customer)],
                      [t('breadcrumb.invoices.new', :default => 'New invoice'), nil]
                    ]).html_safe %>
<% end %>
<h1><%=t '.title', :default => 'New invoice' %></h1>

<%= render 'form' %>