<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      ["#{@customer.title}", customer_slips_path(@customer)],
                      [t('breadcrumb.invoice_projects.new', :default => 'New invoice projects'), nil]
                    ]).html_safe %>
<% end %>

<h1><%=t '.title', :default => "New invoice project" %></h1>

<%= render 'form' %>