<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      ['Invoice projects', invoice_projects_path],
                      ['New invoice project', nil]
                    ]).html_safe %>
<% end %>

<h1>New invoice project</h1>

<%= render 'form' %>