<% content_for :title do %>
  Options
<% end %>

<article class="module width_full">
	<header><h3>Edit option "<%= @option.name %>"</h3></header>
	<div class="module_content">
  <%= semantic_form_for @option do |f| %>
    <%= f.inputs :value %>
    <%= f.buttons %>
  <% end %>
  </div>
</article>