<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      ["#{@customer.title}", customer_slips_path(@customer)],
                      ["Edit slip", nil]
                    ]).html_safe %>
<% end %>

<h1>Edit slip <%= @slip.name %></h1>

<%= render 'form' %>