<article class="module width_full">
  <header>
    <h3>New slip</h3>
  </header>
  <div class="module_content">
	  <%= semantic_form_for [@customer, @slip] do |f| %>
	    <%= f.inputs :name, :rate, :timed, :duration %>
	    <%= submit_tag "Create slip" %>
	  <% end %>
	</div>
</article>