<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      ['Customers', customers_path],
                      ['Edit customer', nil]
                    ]).html_safe %>
<% end %>

<h1>Edit customer</h1>

<%= render 'form' %>