<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      [t('breadcrumb.customers.index', :default => 'Customers'), customers_path],
                      [t('breadcrumb.customers.new', :default => 'New customer'), nil]
                    ]).html_safe %>
<% end %>

<%- model_class = Customer.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<%= render 'form' %>