<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
    [t('breadcrumb.certifications.index', default: 'Withholding certification'), certifications_path],
    [t('breadcrumb.certifications.new', default: "New"), nil]
  ]).html_safe %>
<% end %>

<h1><%=t '.title', default: "Add certification" %></h1>

<%= render :partial => 'form' %>

