<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      [t('breadcrumb.work_categories.index', :default => "Category"), work_categories_path],
                      [t('breadcrumb.work_categories.new', :default => "New category"), nil]
                    ]).html_safe %>
<% end %>

<h1><%=t '.title', :default => "Add category" %></h1>

<%= render :partial => 'form' %>
