<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      ["#{@invoice.customer.title}", customer_slips_path(@invoice.customer)],
                      [t('breadcrumb.payments.add', :default => "Add payment"), nil]
                    ]).html_safe %>
<% end %>

<h1><%=t '.title', :default => "Add Payment" %></h1>

<%= render 'form' %>