<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      [t('breadcrumb.consolidated_taxes.index', :default => 'Consolidated taxes'), consolidated_taxes_path],
                      [@consolidated_tax.name, nil],
                      [t('breadcrumb.consolidated_taxes.edit_tax', :default => 'Edit tax'), nil],
                    ]).html_safe %>
<% end %>

<%- model_class = Tax.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<%= render 'form' %>

