<div class="row">
  <div class="large-12 columns">
    {{#if isCreatingNew }}
      {{partial 'customers/new'}}
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="large-3 medium-4 columns">
    <div class="hide-for-small">
      <div class="sidebar">
        <ul class="side-nav">
          <li>
            <button {{action 'createNew'}} class="button tiny radius"><i class="fa fa-plus"></i> New customer</button>
          </li>
          {{#each customer in model}}
            <li>{{#link-to 'customer' customer}}{{customer.title}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="large-9 medium-8 columns">
    {{outlet}}
  </div>
</div>
