<div class="row">
  <div class="large-3 medium-4 columns">
    <div class="hide-for-small">
      <div class="sidebar">
        <strong>Customers</strong>
        <ul class="side-nav">
          <li>
            {{#link-to 'customers.new' class="button tiny radius"}}<i class="fa fa-plus"></i> New customer{{/link-to}}
          </li>
          {{#each}}
            {{#unless this.isNew}}
              <li>{{#link-to 'customer' this}}{{title}}{{/link-to}}</li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="large-9 medium-8 columns">
    {{outlet}}
  </div>
</div>
