/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.nowrap {
  white-space: nowrap;
}

td a.btn.btn-mini {
  min-width: 70px;
  margin-bottom: 2px;
}

form .help-block {
  font-size: 80%;
  font-style: italic;
}
.password-strenght-wrapper {
  margin-bottom: 0 !important;
  margin-top: -10px !important
}
#password-strenght {
  width: 220px;
}
#password-strenght .bar {
  width: 1%;
}
