/*
 *= require formtastic_ie7
*/
#sidebar #main-nav ul li a {
               _padding: 10px 15px; /* IE6 Hack */
               _display: block; /* IE6 Hack */
               _margin-bottom: -11px !important; /* IE6 Hack */
               }

.content-box-header {
               margin-top: 0;
               }

ul.content-box-tabs { /* IE6 Hack */
               _position: relative; 
               _top: 2px;
               }


.action-button:hover {
               cursor: pointer;
               }

.input-notification {
				position: relative;
				top: -5px;
				_background-position: left 6px; /* IE6 Hack */
				}

#login-wrapper #login-content input {
				margin: 0;
				}

* html #facebox_overlay { /* IE6 Hack */
			_position: absolute;
			_height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
			}
			
      .quick_search {
      text-align: center;
      padding: 14px 0 0px 0;
      }

      .quick_search input[type=text] {
      text-align: left;
      height: 22px;
      width: 88%;
      color: #ccc;
      padding-left: 2%;
      padding-top: 5px;
      background: #fff url(../images/icn_search.png) no-repeat;
      background-position: 10px 6px;
      }

      .toggleLink {
      display: inline;
      float: none;
      margin-left: 2%
      }

      html ul.tabs li.active, html ul.tabs li.active a:hover  {
      background: #ccc;
      }

      input[type=submit].btn_post_message {
      background: url(../images/post_message.png) no-repeat;
      }

      fieldset input[type=text] {
      margin-left: -10px;
      }


      fieldset select {
      margin-left: -10px
      }

      fieldset textarea {
      margin-left: -10px;
      }

