<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      [t('breadcrumb.recurring_slips.index', :default => 'Recurring slips'), recurring_slips_path],
                      [t('breadcrumb.recurring_slips.new', :default => "New recurring slip"), nil]
                    ]).html_safe %>
<% end %>

<%- model_class = RecurringSlip.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<%= render 'form' %>