<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">New invoice from recurring slip</li>
<% end %>

<h1>New invoice from recurring slip</h1>

<%= render 'form' %>