<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      [t('breadcrumb.recurring_slips.index', :default => 'Recurring slips'), recurring_slips_path],
                      [t('breadcrumb.recurring_invoices.new', :default => "New recurring invoice"), nil]
                    ]).html_safe %>
<% end %>

<h1><%=t '.title', :default => "New invoice from recurring slip" %></h1>

<%= render 'form' %>