<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      [t('breadcrumb.profile.index', :default => "Profile"), profile_path],
                      [t('breadcrumb.profile.edit', :default => "Edit profile"), nil]
                    ]).html_safe %>
<% end %>

<h1><%=t '.title', :default => "Edit your profile" %></h1>

<%= render 'form' %>