<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      ["Profile", profile_path],
                      ["Edit profile", nil]
                    ]).html_safe %>
<% end %>

<h1>Edit your profile</h1>

<%= render 'form' %>