<% content_for :title do %>
  User profile
<% end %>

<article class="module width_full">
	<header><h3>Edit your password</h3></header>
	<div class="module_content">
  <%= semantic_form_for @user, :url => '/profile/password/update' do |f| %>
    <%= f.inputs :password, :password_confirmation %>
    <%= submit_tag "Update password" %>
  <% end %>
  </div>
</article>